<form th:fragment="register">
	<div class="modalRegister js-modalRegister">
        <div class="modal-containerRegister js-containerRegister">

			<div class="login">
			  <form>
				  <button id="btn-save" style=" position: absolute; top: -35px; right: -15px; z-index: 1; " class="btn_close js-close-Register">Đóng</button>
			      <label class="tieude" for="chk" aria-hidden="true">Đăng ký</label>
			      <div class="mb-3">
			        
			        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nhập họ tên...">
			      </div>
			      
			      <div class="mb-3">
			        
			        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Nhập địa chỉ...">
			      </div>
			      <div class="mb-3">
			       
			        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Nhập số điện thoại...">
			      </div>
			      <div class="mb-3">
			        
			        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Nhập email...">
			      </div>
			      <div class="mb-3">
			        
			        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Nhập tên đăng nhập...">
			      </div>
			      <div class="mb-3">
			        
			        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Nhập mật khẩu...">
			      </div>
			      <div class="mb-3">
			        
			        <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Nhập lại mật khẩu...">
			      </div>
			      <div class="mb-3" style="margin-left: 50px; font-size: 20px;">
			          <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
			          <label class="form-check-label" for="gridRadios1">
			            Nam
			          </label>
			          <input style="margin-left: 50px;" class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
			          <label class="form-check-label" for="gridRadios2">
			            Nữ
			          </label>
			      </div>
			      <div class="mb-3" style="margin-left: 50px; font-size: 20px;">
			        
			        <input type="checkbox" class="form-check-input"> <span>Tôi đồng ý với tất cả điều khoản</span>
			      </div>
			      <button class="submitlog">Đăng ký</button>
			  </form>
			</div>

			
        </div>
	</div>     
</form>