<div style="margin-top: 100px;" th:fragment="card" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav style="--bs-breadcrumb-divider: '>'; margin-left: 27rem; font-size: 20px; background: white;" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/home}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
        </ol>
    </nav>
    <div id="wrapper">
        <div class="wrapper_child">
            <h2 class="title">Giỏ hàng</h2>
            <div class="no_cart"></div>
            <div class="grid">
                <!-- Content -->
                <div class="card">
                    <form method="post">
                        <table class="card__table" id="cart_Table">
                            <thead>
                            <tr class="card__table-rows">
                                <th class="card__table-title"></th>
                                <th class="card__table-title">Tên sản phẩm</th>
                                <th class="card__table-title">Đơn giá</th>
                                <th class="card__table-title">Số lượng</th>
                                <th class="card__table-title">Thành tiền</th>
                                <th class="card__table-title"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${not #lists.isEmpty(cartProductList)}" th:each="cartItem : ${cartProductList}"  th:id="${'item'+cartItem.id}">
                                <td>
                                    <img class="img_cart" th:src="@{'/img/'+${cartItem.img}}" alt="Product Image"/>
                                </td>
                                <td>
                                    <p th:text="${cartItem.name}"></p>
                                </td>
                                <td> <p th:text="${cartItem.price}"></p></td>
                                <td>
                                    <input type="number" min="1" th:max="${cartItem.quantityRemain}"  name="quantity" th:id="${'quantity_input_'+cartItem.quantity}" th:value="${cartItem.quantity}" th:onchange="changeQuantityCart([[${cartItem.id}]],this.value)" style="width:150px;">
                                </td>
                                <td>
                                    <p th:id="${'price_'+cartItem.id}" th:text="${cartItem.price * cartItem.quantity}" th:attr="data-price=${cartItem.price}"></p>
                                </td>
                                <td>
                                    <button type="button"
                                            th:onclick="deleteItem([[${cartItem.id}]])"
                                            th:id="${'delete_btn_'+cartItem.id}"
                                            name="delete_item"
                                            th:value="${cartItem.id}"
                                            class="btn btn-danger btn-sm"><i class="ti-close"></i></button>
                                    <button type="button"
                                            name="update_cart" value=""
                                            class="btn btn-danger btn-sm"><i class="ti-save"></i></button>
                                </td>
                            </tr>
                            <tr th:if="${#lists.isEmpty(cartProductList)}">
                                <td colspan="5" style="text-align:center; padding-top:50px">
                                    Giỏ hàng của bạn đang trống -
                                    <a th:href="@{/home}" th:text="${'Mua sắm'}" style="color:blue;font-weight:bold;"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>


                    </form>
                </div>

                <div class="bill" style="margin-bottom: 40px;">
                    <div class="bill-detail">
                        <h4 class="bill-title">Tổng số lượng</h4>

                        <div class="bill__rows">
                            <p class="bill__rows-name">Tiền sản phẩm</p>
                            <b style="color: red;"
                               class="bill__rows-price" th:id="totalPriceOfProduct" th:text="${#lists.isEmpty(cartProductList) ? 0 + 'đ' : totalPrice + 'đ'}"></b>
                        </div>
                        <div class="bill__rows">
                            <p class="bill__rows-name_">Phí vận chuyển</p>
                            <b
                                    class="bill__rows-price-ship" th:id="delivery" th:text="${#lists.isEmpty(cartProductList) ? 0 + 'đ' : '30.000đ'}"></b>
                        </div>
                        <div class="bill__rows row-affect">
                            <p class="bill__rows-name">Tổng cộng</p>
                            <b
                                    class="bill__rows-price totalAmount" th:id="totalPriceOfBill" th:text="${#lists.isEmpty(cartProductList) ? 0 + 'đ' : totalPrice + 30000 + 'đ'}"></b>
                        </div>
                        <a th:href="@{/home/giohang/thanhtoan}">

                            <input type="button" value="Thanh toán" class="bill-title bill-btn" th:id="btn_Payment" th:disabled="${#lists.isEmpty(cartProductList)}" th:style="${#lists.isEmpty(cartProductList) ? 'background-color: gray;' : 'background-color:rgb(13, 178, 13);'}"/>

                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>
