<div style="margin-top: 100px;" th:fragment="female" xmlns:th="">
	<nav style="--bs-breadcrumb-divider: '>'; margin-left: 27rem; font-size: 20px; background: white;" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a th:href="@{/home}">Trang chủ</a></li>
			<li class="breadcrumb-item active" aria-current="page">Đồng hồ nữ</li>
		</ol>
	</nav>
	<div style="display: flex;">
		<div class="c-3">
			<!-- CATEGORY -->
			<div class="category">
				<h5>DANH MỤC SẢN PHẨM</h5>
				<div class="is-divider"></div>

				<ul class="list-group list-group-flush">
					<th:block th:each="category : ${listCategory}">
						<li class="list-group-item">
							<label>
			                    <input class="form-check-input mt-0" style="padding-top: 20px; padding-right: 20px;" type="checkbox"/>
			                    <span style="padding-left: 10px;" th:text="${category.name}"></span>
			                </label>
						</li>
					</th:block>
				</ul>
			</div>

			<!-- BRAND -->
			<div class="category">
				<h5>THƯƠNG HIỆU</h5>
				<div class="is-divider"></div>
				<ul class="list-group list-group-flush">

					<th:block th:each="brand : ${listBrand}">
						<li class="list-group-item">
							<label>
			                    <input class="form-check-input mt-0" style="padding-top: 20px; padding-right: 20px;" type="checkbox"/>
			                    <span style="padding-left: 10px;" th:text="${brand.name}"></span>
			                </label>
						</li>
					</th:block>

				</ul>
			</div>

			<!-- PRICE -->
			<div class="category">
				<form name="filter-form" id="filter-form" method="POST" action="">
					<h5>LỌC THEO GIÁ</h5>
					<div class="is-divider"></div>
					<label for="price-range">Chọn giá sản phẩm tối đa:</label>
					<input type="range" id="category__price-range" name="price-range" min="100000" max="200000000" value="500" step="100000" oninput="showPriceRange(this.value)">
					<div id="category__range-value"></div>
				</form>
			</div>
			
			<div class="category d-grid gap-2 d-md-flex justify-content-md-end">
			  <button style="margin-top: -20px; margin-bottom: 20px;" class="btn btn-outline-dark" type="button">Tìm kiếm</button>
			</div>
		</div>

		<div class="c-9">

			<div class="wrapper__product">
				<div class="grid__item" th:each="row : ${products}">
					<div class="grid__item-content">
						<a th:href="@{/home/chitietsanpham/{id}(id=${row.productID})}">
							<div class="wrapper__product-img"><img th:src="@{'/img/'+${row.getProductImg()}}" class="grid__item-img" alt="img error" srcset=""></div>
							<div class="grid__item-info">
								<label class="grid__item-title" ><p th:text="${row.product_brandName}"></p></label>
								<div class="grid__item-name black" ><p th:text="${row.productName}"></p></div>
								<div class="grid__item-price"><strong class="red"><p th:text="${row.productPrice}+'đ'"></p></strong></div>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="wrapper__pagination" style="text-align:center;">
				<div style="display:inline-block;">
					<nav>
						<ul class = "pagination just-content-center flex-wrap" th:with="pageUrlPrefix = '/home/donghonu/'">
							<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
								<a th:href="@{/home/donghonu/page=1}" class="page-link"> First </a>
							</li>
							<li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
								<a  th:href="@{/home/donghonu/page={page}(page=${currentPage-1})}" class="page-link"> Precious </a>
							</li>
							<th:block th:if="${totalPages <= 10}">
								<li th:each="i : ${#numbers.sequence(1,totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
									<a th:href="@{/home/donghonu/page={page}(page=${i})}" class="page-link"> [[${i}]] </a>
								</li>
							</th:block>
							<th:block th:if="${totalPages > 10}">
								<th:block th:if="${currentPage <= 5 || currentPage >= totalPages - 4 }">
									<li th:each="i : ${#numbers.sequence(1,5)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
										<a th:href="@{/home/donghonu/page={page}(page=${i})}" class="page-link"> [[${i}]] </a>
									</li>
									<a class="page-link" th:href="@{/home/donghonu/page={page}(page=${6})}"> ... </a>
									<li th:each="i : ${#numbers.sequence(totalPages-4,totalPages)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
										<a th:href="@{/home/donghonu/page={page}(page=${i})}" class="page-link"> [[${i}]] </a>
									</li>
								</th:block>

								<th:block th:if="${currentPage > 5 && currentPage < totalPages - 4 }">
									<a class="page-link" th:href="@{/home/donghonu/page={page}(page=${currentPage-5})}"> ... </a>

									<li th:each="i : ${#numbers.sequence(currentPage-4,currentPage+4)}" th:class="${currentPage != i ? 'page-item' : 'page-item active'}">
										<a th:href="@{/home/donghonu/page={page}(page=${i})}" class="page-link"> [[${i}]] </a>
									</li>
									<a class="page-link" th:href="@{/home/donghonu/page={page}(page=${currentPage+5})}"> ... </a>
								</th:block>
							</th:block>
							<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
								<a th:href="@{/home/donghonu/page={page}(page=${currentPage+1})}" class="page-link"> Next </a>
							</li>
							<li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
								<a th:href="@{/home/donghonu/page={page}(page=${totalPages})}" class="page-link"> Last </a>
							</li>


						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>

</div>