<div th:fragment="footer">
	<footer class="footer">
    <div class="footer__wrap">
        <div class="footer__sub footer__left">
            <h3>MY WATCH</h3>
            <p class="footer__desc">Xin chân thành cảm ơn quý khách đã ủng hộ sản phẩm. Mọi đóng góp của quý khách là
                niềm vinh hạnh của chúng tôi.</p>
            <input type="text" value="" class="footer__inp"><br>
            <b>© All rights reserved. Thiết kế bởi nhóm 7</b>
        </div>

        <div class="footer__sub footer__right">
            <h3 class="footer__title">Thông tin liên lạc</h3>
            <ul class="footer__desc">
                <li class="footer__desc-item"><i class="ti-location-pin footer__right-item"></i>Địa chỉ: Thành phố Hồ
                    Chí Minh</li>
                <li class="footer__desc-item"><i class="ti-mobile footer__right-item"></i>Số điện thoại: 0902458804</li>
                <li class="footer__desc-item"><i class="ti-email footer__right-item"></i>Email: mywatchnhom07@gmail.com
                </li>
                <li class="footer__desc-item"><i class="ti-facebook footer__right-item"></i>Facebook: My Watch</li>
                <li class="footer__desc-item"><i class="ti-instagram footer__right-item"></i>Instagram: mywatch_</li>
            </ul>
        </div>
    </div>
</footer>
</div>