<div th:fragment="home">
	<div class="content__male format">
        <h3 class="content__title">ĐỒNG HỒ NAM BÁN CHẠY</h3>
        <div class="wrapper__product">
            <div class="grid__item">
                <div class="grid__item-content">
                    <a href="">
                        <div class="wrapper__product-img"><img th:src="@{/img/dongho1.jpg}"
                                class="grid__item-img" alt="img error" srcset=""></div>

                        <div class="grid__item-info">
                            <label class="grid__item-title">Casio</label>
                            <div class="grid__item-name black">Casio1</div>
                            <div class="grid__item-price"><strong class="red">19.250.000đ</strong></div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="grid__item">
                <div class="grid__item-content">
                    <a href="">
                        <div class="wrapper__product-img"><img th:src="@{/img/dongho1.jpg}"
                                class="grid__item-img" alt="img error" srcset=""></div>

                        <div class="grid__item-info">
                            <label class="grid__item-title">Casio</label>
                            <div class="grid__item-name black">Casio12</div>
                            <div class="grid__item-price"><strong class="red">19.250.000đ</strong></div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="grid__item">
                <div class="grid__item-content">
                    <a href="">
                        <div class="wrapper__product-img"><img th:src="@{/img/dongho1.jpg}"
                                class="grid__item-img" alt="img error" srcset=""></div>

                        <div class="grid__item-info">
                            <label class="grid__item-title">Casio</label>
                            <div class="grid__item-name black">Casio123</div>
                            <div class="grid__item-price"><strong class="red">19.250.000đ</strong></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
    <hr>
    <div class="content__male format">
        <h3 class="content__title">ĐỒNG HỒ NỮ BÁN CHẠY</h3>
        <div class="wrapper__product">
            <div class="grid__item">
                <div class="grid__item-content">
                    <a href="">
                        <div class="wrapper__product-img"><img th:src="@{/img/dongho1.jpg}"
                                class="grid__item-img" alt="img error" srcset=""></div>

                        <div class="grid__item-info">
                            <label class="grid__item-title">Casio</label>
                            <div class="grid__item-name black">Casio1</div>
                            <div class="grid__item-price"><strong class="red">19.250.000đ</strong></div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="grid__item">
                <div class="grid__item-content">
                    <a href="">
                        <div class="wrapper__product-img"><img th:src="@{/img/dongho1.jpg}"
                                class="grid__item-img" alt="img error" srcset=""></div>

                        <div class="grid__item-info">
                            <label class="grid__item-title">Casio</label>
                            <div class="grid__item-name black">Casio12</div>
                            <div class="grid__item-price"><strong class="red">19.250.000đ</strong></div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="grid__item">
                <div class="grid__item-content">
                    <a href="">
                        <div class="wrapper__product-img"><img th:src="@{/img/dongho1.jpg}"
                                class="grid__item-img" alt="img error" srcset=""></div>

                        <div class="grid__item-info">
                            <label class="grid__item-title">Casio</label>
                            <div class="grid__item-name black">Casio123</div>
                            <div class="grid__item-price"><strong class="red">19.250.000đ</strong></div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
	
	<div class="content__label" data-aos="fade-right" data-aos-duration="2000">
	    <img th:src="@{/img/anhnengiua.jpg}" class="content__label-img" alt="image error" srcset="">
	
	    <div class="content__label-sub">
	        <div class="content__label-flex">
	            <i class="ti-truck content__label-icon"></i>
	            <p class="content__label-desc">Miễn phí giao hàng</p>
	        </div>
	        <div class="content__label-flex">
	            <i class="ti-gift content__label-icon"></i>
	            <p class="content__label-desc">Nhiều quà tặng hấp dẫn</p>
	        </div>
	    </div>
	</div>
	
	<div class="content__male content__female content__info format">
        <h3 class="content__title" style="margin-top: 40px;">THÔNG TIN KHÁC</h3>
        <div class="content__row">
            <div class="content__column thongtinkhac" data-aos="flip-down" data-aos-duration="2000">
			    <img th:src="@{/img/vanchuyen.jpg}" class="card-img-top" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">Miễn phí vận chuyển</h5>
			      <p class="card-text">Khách hàng mua hóa đơn trên 2 triệu sẽ được miễn phí giao hàng. Dịch vụ vận chuyển nhanh chóng, áp dụng toàn quốc</p>
			      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			    </div>
			</div>
			
            <div class="content__column thongtinkhac" data-aos="flip-down" data-aos-duration="2000">
				<img th:src="@{/img/quatang.png}" class="card-img-top" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">Quà tặng</h5>
			      <p class="card-text">Cửa hàng luôn tổ chức các minigame cho các khách hàng, nhiều cơ hội nhận được quà to giá trị cao. </p>
			      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			    </div>
			</div>
			
            <div class="content__column thongtinkhac" data-aos="flip-down" data-aos-duration="2000">
				<img th:src="@{/img/baohanh.png}" class="card-img-top" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">Bảo hành</h5>
			      <p class="card-text">Bảo hành 1 năm nếu sản phẩm lỗi từ nhà sản xuất. 1 đổi 1 nếu lỗi trong 30 ngày đầu sử dụng. Đặc biệt thay pin trọn đời.</p>
			      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			    </div>
			</div>
            <div class="content__column thongtinkhac" data-aos="flip-down" data-aos-duration="2000">
				<img th:src="@{/img/camket.jpg}" class="card-img-top" alt="...">
			    <div class="card-body">
			      <h5 class="card-title">Cam kết</h5>
			      <p class="card-text">My Watch cam kết sản phẩm 100% chính hãng, nếu không chính hãng My Watch hoàn 200% hóa đơn.</p>
			      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
			    </div>
			</div>
        </div>
    </div>
</div>