<div style="margin-top: 100px;" th:fragment="password">
	<div class="content__male" style="padding-left: 360px; padding-right: 350px;">
        <h3 class="content__title" style="font-size: 35px; padding-top: 145px;">Quên mật khẩu</h3>
        <form th:action="@{/home/quenmatkhau}"  method="post">
	        <div th:if="${message}" class="alert alert-success" role="alert">
			  <p th:text="${message}"></p>
			</div>
	        
	        <div class="mb-3" >
		        <label for="exampleInputEmail1" class="form-label thongtin_gray" style="margin-left: 0px; color: gray;">Email</label>
		        <input name="email" type="email" class="form-control" id="formGroupExampleInput2"  
			        required pattern="^[A-Za-z0-9_.]+@[A-Za-z0-9-]+\\.[A-Za-z0-9-.]+$" 
					oninvalid="this.setCustomValidity('Vui lòng nhập email.')"
					oninput="setCustomValidity('')">
	      	</div>
			
	      
	      
			<button type="submit" class="btn btn-primary" style="border: none; background-color: red; float: right;">Lấy lại mật khẩu</button>
		
			
		</form>
	</div>
		
</div>
