<form th:fragment="editnhacungcap">
	 <div class="modalNCC js-modalNCC">
        <div class="modal-containerNCC js-containerNCC">

            <header class="modal-header">
                Chỉnh sửa thông tin nhà cung cấp
            </header>

            <div class="modal-body">
                <div class="form2">
                    <label class="labelnhanvien">Tên nhà cung cấp: </label>
                    <input class="form-control" type="text">
                </div>

                <div class="form2">
                    <label class="labelnhanvien">Địa chỉ: </label>
                    <input class="form-control" type="text">
                </div>

                <div class="form2">
                    <label class="labelnhanvien">Email: </label>
                    <input class="form-control" type="text">
                </div>

                <div class="form2">
                    <label class="labelnhanvien">Số điện thoại: </label>
                    <input class="form-control" type="text">
                </div>

                <div class="form2">
                    <label class="labelnhanvien">Ngày tạo: </label>
                    <input class="form-control" type="date">
                </div>


            </div>


            <footer class="modal-footer">
                <button id="btn-save" class="btn_save">Lưu lại</button>
                <button id="btn-save" class="btn_close js-close-NCC">Hủy bỏ</button>
            </footer>
        </div>
    </div>
</form>