<form th:fragment="editquyen">
	<div class="modalQuyen js-modalQuyen">
        <div class="modal-containerQuyen js-containerQuyen">

            <header class="modal-header">
                Chỉnh sửa thông tin Quyền
            </header>

            <div class="modal-body">
                <div class="form2">
                    <label class="labelnhanvien">Tên quyền: </label>
                    <input class="form-control" type="text">
                </div>


            </div>


            <footer class="modal-footer">
                <button id="btn-save" class="btn_save">Lưu lại</button>
                <button id="btn-save" class="btn_close js-close-Quyen">Hủy bỏ</button>
            </footer>
        </div>
    </div>
</form>