<form th:fragment="editsanpham" th:if="${productDTO != null}" th:action="@{/admin/qlsanpham/editsanpham}" th:object="${productDTO}" method="post">
    <div class="modal js-modal" th:classappend="${productDTO ne null} ? 'open' : ''">
        <div class="modal-container js-container">

            <header class="modal-header">
                Chỉnh sửa thông tin sản phẩm
            </header>

            <div class="modal-bodySP1">

                <div class="form3">
                    <label class="labelnhanvien">Tên sản phẩm: </label>
                    <input class="form-control" type="text" id="name" th:field="*{name}">
                </div>

                <div class="form3">
                    <label class="labelnhanvien">Mã sản phẩm: </label>
                    <input class="form-control" type="text" id="code" th:field="*{prodetail.code}">
                </div>

            </div>

            <div class="modal-bodySP3">
                <div class="form3">
                    <label class="labelnhanvien">Chất liệu dây: </label>
                    <select class="cbo" name="name_wire" id="name_wire" th:field="*{materialWire}">
                        option value="">--- Chọn Chất Liệu Dây ---</option>
                        <option th:each="materialWire : ${listMaterialWire}"
                                th:value="${materialWire.id}"
                                th:text="${materialWire.name}" >
                        </option>
                    </select>
                </div>

                <div class="form3">
                    <label class="labelnhanvien">Chất liệu kính: </label>
                    <select class="cbo" name="name_glass" id="name_glass" th:field="*{materialGlassId}">
                        <option value="">--- Chọn Chất Liệu Kính ---</option>
                        <option th:each="materialGlass : ${listMaterialGlass}"
                                th:value="${materialGlass.id}"
                                th:text="${materialGlass.name}">
                    </select>
                </div>

                <div class="form3">
                    <label class="labelnhanvien">Bộ máy và năng lượng: </label>
                    <select class="cbo" name="name_pin" id="name_pin" th:field="*{pin}">
                        <option value="">--- Chọn Bộ Máy và Năng Lượng ---</option>
                        <option th:each="pin : ${listPin}"
                                th:value="${pin.id}"
                                th:text="${pin.name}"></option>
                    </select>
                </div>
            </div>

            <div class="modal-bodySP6">
                <div class="form1">
                    <label class="labelnhanvien">Thương hiệu: </label>
                    <select class="cbo" name="name_brand" id="name_brand" th:field="*{brand}">
                        <option value="">--- Chọn Thương Hiệu ---</option>
                        <option th:each="brand : ${listBrand}"
                                th:value="${brand.idBand}"
                                th:text="${brand.name}">
                        </option>
                    </select>
                </div>

                <div class="form1">
                    <label class="labelnhanvien">Danh mục: </label>
                    <select class="cbo" name="name_category" id="name_category" th:field="*{category}">
                        <option value="">--- Chọn Danh mục ---</option>
                        <option th:each="category : ${listCategory}"
                                th:value="${category.idCategory}"
                                th:text="${category.name}">
                        </option>
                    </select>
                </div>

                <div class="form1">
                    <label class="labelnhanvien">Số lượng: </label>
                    <input class="form-control" type="text" id="quantity" th:field="*{quantity}">
                </div>

            </div>

            <div class="modal-bodySP4">
                <div class="form1">
                    <label class="labelnhanvien">Xuất xứ: </label>
                    <input class="form-control" name="origin" type="text" id="origin" th:field="*{prodetail.origin}">
                </div>

                <div class="form1">
                    <label class="labelnhanvien">Hình dáng: </label>
                    <input class="form-control" name="shape" type="text" id="shape" th:field="*{prodetail.shape}">
                </div>

                <div class="form1">
                    <label class="labelnhanvien">Màu: </label>
                    <input class="form-control" type="text" id="color" th:field="*{prodetail.color}">
                </div>

                <div class="form1">
                    <label class="labelnhanvien">Size mặt kính: </label>
                    <input class="form-control" name="size" type="text" id="size" th:field="*{prodetail.size}">
                </div>
            </div>

            <div class="modal-bodySP5">
                <div class="form3">
                    <div>
                        <label class="labelnhanvien">Avatar:</label> <br>
                        <img id="img" src="" alt="avatar preview"> <br>
                        <input type="file" id="avatar" name="avatar" th:field="*{img}">

                    </div>
                    <div>
                        <label for="removeAvatar">Remove avatar?</label>
                        <input type="checkbox" id="removeAvatar" name="removeAvatar" value="1">
                    </div>

                </div>
                <div class="form3">
                    <label class="labelnhanvien">Miêu tả sản phẩm: </label>
                    <p><textarea name="description" id="description" cols="40" rows="5" th:field="*{prodetail.description}"></textarea></p>
                </div>

            </div>

            <footer class="modal-footer">
                <button type="submit"  class="btn_save">Lưu lại</button>
                <button id="btn-delete" class="btn_close js-close-SP">Hủy bỏ</button>
            </footer>

        </div>
    </div>
</form>