<form enctype="multipart/form-data" th:fragment="editthongtin">
		    <div class="modal js-modal" >
	            <div class="modal-container js-container">
	
	                <header class="modal-header">
	                    Chỉnh sửa thông tin cá nhân
	                </header>
	
	                <div class="modal-body">
	                    <div class="form2">
	                        <label class="labelnhanvien">Họ và tên: </label>
	                        <input class="form-control" type="text">
	                    </div>
	
	                    <div class="form2">
	                        <label class="labelnhanvien">Địa chỉ: </label>
	                        <input class="form-control" type="text">
	                    </div>
	
	                    <div class="form2">
	                        <label class="labelnhanvien">Email: </label>
	                        <input class="form-control" type="text">
	                    </div>
	
	                    <div class="day-sex-chucvu">
	
	                        <div class="form2">
	                            <label class="labelnhanvien">Số điện thoại: </label>
	                            <input class="form-control" type="text">
	                        </div>
	
	                        <div class="form2">
	                            <label class="labelnhanvien">Giới tính: </label>
	                            <div class="chon">
	                                <input value="1" id="gtnam" type="radio" name="gioitinh" class="check-type"><label
	                                    class="labeldonhang" for="">Nam</label>
	                                <input value="2" id="gtnu" type="radio" name="gioitinh" class="check-type"><label
	                                    class="labeldonhang" for="">Nữ</label>
	                            </div>
	                        </div>
	
	                        <div class="form2">
	                            <label class="labelnhanvien">Ngày sinh: </label>
	                            <input class="form-control" type="date">
	                        </div>
	                    </div>
	
	                    <div class="form2">
	                        <label class="labelnhanvien">Phân loại: </label>
	                        <select class="cbo" name="" id="">
	                            <option value="">Nhân viên</option>
	                            <option value="">Khách hàng</option>
	                        </select>
	                    </div>
	
	                    <div class="form2">
	                        <label class="labelnhanvien">Phân quyền : </label>
	                        <select class="cbo" name="" id="">
	                            <option value="">Admin</option>
	                            <option value="">Quản lý</option>
	                            <option value="">Nhân viên</option>
	                            <option value="">Khách hàng</option>
	                        </select>
	                    </div>
	
	
	                    <footer class="modal-footer">
	                        <button id="btn-save" class="btn_save">Lưu lại</button>
	                        <button id="btn-save" class="btn_close js-close">Hủy bỏ</button>
	                    </footer>
	                </div>
	            </div>
	        </div>
		</form>
	