<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
	<link rel="stylesheet" th:href="@{/css/StyleGiaodien.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/StyleQuanly.css}">
    <link rel="stylesheet" th:href="@{/css/Sua.css}">
    <link rel="stylesheet" th:href="@{/css/Donhang.css}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.core.min.js}"></script>
</head>
<body>
	
	<div th:replace="(~{Admin/FormManager/MainPage :: menu})"></div>
	<div id="form_adddh" class="content-formaddnhanvien">

        
        <div class="row">


            <div class="form1">
                <label class="labelnhanvien">Nhà cung cấp: </label>
                <select class="cbo" name="supplier_id" id="">

                        <option value=""></option>
                        
                </select>
            </div>

            <div class="form1">
                <label class="labelnhanvien">Nhân viên: </label>
                <select class="cbo" name="user_id" id="">
                   
                        <option value=""></option>
                        
                 </select>
            </div>
            
            <div class="form1">
                <label class="labelnhanvien">Tổng tiền: </label>
                <input class="form-control" id="total" name="total" type="text" >
            </div>

            

            <hr>
            <h1 class="thongso">Chi tiết đơn hàng nhập</h1>

            <div class="form1">
                <label class="labelnhanvien">Sản phẩm: </label>
                <select class="cbo" name="product_id" id="">
                    

                        <option value=""></option>
                        
                </select>
            </div>

            <div class="form1">
                <label class="labelnhanvien">Số lượng: </label>
                <input class="form-control" id="soluong" name="quantity" type="number" min="0" step="1" oninput="result()" >
            </div>

            <div class="form1">
                <label class="labelnhanvien">Giá gốc: </label>
                <input class="form-control" id="price" name="price" type="number" oninput="result()">
            </div>

            <div class="form1">
                <label class="labelnhanvien">Phần trăm: </label>
                <input class="form-control" id="percent" name="percent" type="number" min="0" step="0.01" oninput="result()">
            </div>

            <div class="form1">
                <button onclick="" name="submitDH" class="add-donhang" type="submit" title="Lưu" id=""><i class="icon1 ti-save"></i>Tạo đơn hàng</button>
                <button onclick="" class="add-nhanvien" type="button" title="Hủy" id=""><i class="icon1 ti-trash"></i>Hủy bỏ</button>

            </div>

        </div>

    </div>
 </body>
