<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
	<link rel="stylesheet" th:href="@{/css/StyleGiaodien.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/StyleQuanly.css}">
    <link rel="stylesheet" th:href="@{/css/Sua.css}">
    <link rel="stylesheet" th:href="@{/css/Donhang.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.core.min.js}"></script>
</head>
<body>
	
	<div th:replace="(~{Admin/FormManager/MainPage :: menu})"></div>
	<div id="form_addquyen" class="content-formaddnhanvien">
        <form th:action="@{/admin/qlquyen/addquyen}" th:object="${role}" method="post">
	        <div class="row">
	
	            <div class="form1">
	                <label class="labelnhanvien">Tên quyền: </label>
	                <input class="form-control" type="text" th:field="*{name}" required
						  oninvalid="this.setCustomValidity('Vui lòng nhập tên Quyền.')"
						  oninput="setCustomValidity('')"/>
					<span th:if="${message}" class="labelnhanvien" th:text="${message}" style="color: red;" ></span>
	            </div>
	
	            <div class="form1">
	                <button class="add-nhanvien" type="submit" name="submitRole" title="Lưu" id=""><i class="icon1 ti-save"></i>Thêm quyền</button>
	                <button onclick="cancel()" class="add-nhanvien" type="button" title="Hủy" id=""><i class="icon1 ti-trash"></i>Hủy bỏ</button>
	            </div>
	
	        </div>
		</form>
    </div>
    <script type="text/javascript">
		function cancel(){
			window.location = "/admin/qlquyen";
		}
	</script>
 </body>
