<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
	<link rel="stylesheet" th:href="@{/css/StyleGiaodien.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/StyleQuanly.css}">
    <link rel="stylesheet" th:href="@{/css/Sua.css}">
    <link rel="stylesheet" th:href="@{/css/Donhang.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.core.min.js}"></script>
</head>
<body>
	
	<div th:replace="(~{Admin/FormManager/MainPage :: menu})"></div>
	<div class="content-formaddnhanvien">
            <form th:action="@{/admin/qlvoucher/addvoucher}" th:object="${voucher}" method="post">     
        <div class="row">

            <div class="form1">
                <label class="labelnhanvien">Mã giảm giá: </label>
                <input name="code" class="form-control" type="text" th:field="*{code}">
            </div>
            
            <div class="form1">
                <label class="labelnhanvien">Giá trị: </label>
                <input name="value" class="form-control" type="number" th:field="*{value}" min="0" step="0.01">
            </div>

            <div class="form1">
                <label class="labelnhanvien">Ngày bắt đầu: </label>
                <input name="start_date" class="form-control" type="date" th:field="*{start_Date}">
            </div>

            <div class="form1">
                <label class="labelnhanvien">Ngày kết thúc: </label>
                <input name="end_date" class="form-control" type="date" th:field="*{end_Date}">
            </div>

            <div class="form1">
                <button class="add-nhanvien" type="submit" name="submitVC" title="Lưu" id=""><i class="icon1 ti-save"></i>Thêm Voucher</button>
                <button onclick="" class="add-nhanvien" type="button" title="Hủy" id=""><i class="icon1 ti-trash"></i>Hủy bỏ</button>
            </div>

        </div>
            </form>
    </div>
    
 </body>
