
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
	<link rel="stylesheet" th:href="@{/css/StyleGiaodien.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/StyleQuanly.css}">
    <link rel="stylesheet" th:href="@{/css/Sua.css}">
    <link rel="stylesheet" th:href="@{/css/Donhang.css}">
    <link rel="stylesheet" th:href="@{/css/load.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.core.min.js}"></script>
    <script language="JavaScript" th:src="@{/js/clock.js}"></script>
</head>
<body onload="time()">
	
	<div th:replace="(~{Admin/FormManager/MainPage :: menu})"></div>
	
	<div class="content">

	    <div class="content-header">
	
	        <div id="clock">
	        </div>
	
	    </div>

	    <div class="content-mid">
	
	        <label class="form-timkiem" for="">Tìm kiếm:
	            <input type="search" class="search"><button class="ti-search" type="button" title="Tìm kiếm" id=""></button>
	        </label>
	
	    </div>

	    <div class="form-dssanpham">
	        <h1>Danh sách hóa đơn</h1>
	        <form method="post">
	            <div class="form1 formchonloc">
	                <label class="labelnhanvien">Lọc: </label>
	                <select class="cbo chonloc" name="type_hd" id="type_hd" onchange="filterData()">
	                <option value=1>Đang xử lý</option>    
	                <option value= 2>Đã hoàn thành</option>
	                </select>
	
	            </div>
	        </form>
	
	        <table width="100%" border="3" cellspacing="2px" align="center" bordercolor="aquamarine">
	            <thead>
	                <tr style="height: 60px;">
	                    <th width="2%">ID</th>
	                    <th width="10%">Tên khách hàng</th>
	                    <th width="9%">Email</th>
	                    <th width="7%">Số điện thoại</th>
	                    <th width="12%">Địa chỉ giao hàng</th>
	                    <th width="6%">Tình trạng</th>
	                    <th width="7%">Ngày tạo</th>
	                    <th width="14%">Ghi chú</th>
	                    <th width="6%">Voucher</th>
	                    <th width="14%">Tổng tiền sau khi giảm</th>
	                    <th width="8%">Tính năng</th>
	                </tr>
	            </thead>
	            <tbody id="table-body">
	                <th:block th:each="bill : ${listBill}">
	                    
		                <tr>
		                    <td align="center" th:text="${bill.id_bill}"></td>
		                    <td align="center"  th:text="${bill.fullname}"></td>
		                    <td align="center"  th:text="${bill.email}"></td>
		                    <td align="center"  th:text="${bill.dienthoai}"></td>
	                        <td align="center"  th:text="${bill.deliver_address}"></td>
		                    <td align="center"  th:if="${bill.status_id == 1}">
								Đang giao
								<td align="center"  th:if="${bill.status_id == 0}">
									Đã hoàn thành
								</td>
							</td>
		                    <td align="center"  th:text="${bill.create_date}"></td>
		                    <td align="center"  th:text="${bill.discription_bill}"></td>
		                    <td align="center" th:each="voucher : ${listVoucher}" th:if="${voucher.id_voucher == bill.voucher_id}" th:text="${voucher.code}">
								<td align="center" th:if="${bill.voucher_id == null}"></td>
							</td>
		                    
		                    <td align="center"  th:utext="'<script>document.write(new Intl.NumberFormat(\'vi-VN\').format(' + ${bill.totalPrice} + '))</script>'"></td>
		                    <td align="center" th:if="${bill.status_id == 1}">
                        		<a th:href="@{'/admin/qlhoadon/edit/' + ${bill.id_bill}}"><button href="" class="tinhnang2" type="button" title="Sửa" id=""><i class="icon1 ti-marker-alt"></i></button></a>
                        			 <td align="center" th:if="${bill.status_id == 0}">
                        				<a th:href="@{'/admin/qlhoadon/delete/' + ${bill.id_bill}}"><button data-id="" href="" class="tinhnang1" type="button" title="Xóa" id=""><i class="icon1 ti-trash"></i></button></a> 
			                		</td>
			                </td>
		
		
		                </tr>
	                </th:block>

	            </tbody>
	        </table>
	
	    </div>
   </div>
   
   <div class="footer">
        <a th:href="@{/admin/qlvoucher}" class="add" type="button" title="Voucher" id="">Quản lý voucher <i
                class="icon1 ti-hand-point-right"></i></a>
    </div>
</body>
