
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
	<link rel="stylesheet" th:href="@{/css/StyleGiaodien.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/StyleQuanly.css}">
    <link rel="stylesheet" th:href="@{/css/Sua.css}">
    <link rel="stylesheet" th:href="@{/css/Donhang.css}">
    <link rel="stylesheet" th:href="@{/css/load.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.core.min.js}"></script>
    <script language="JavaScript" th:src="@{/js/clock.js}"></script>
</head>
<body onload="time()">
	
	<div th:replace="(~{Admin/FormManager/MainPage :: menu})"></div>
	
	<div id="qldh" class="content">

    <div class="content-header">

        <div id="clock"></div>
        
    </div>

    <div class="content-mid">
        
        <a th:href="@{/admin/qlnhaphang/addnhaphang}" class="add" type="button" title="Thêm" id="add_dh"><i class="icon1 ti-plus"></i>Thêm đơn hàng</a>
        
        <label class="form-timkiem" for="">Tìm kiếm: 
            <input type="search" id="search_oder" class="search"><button class="ti-search" type="button" title="Tìm kiếm" id="" ></button>
        </label>

    </div>

    <div class="form-dsdonhang">
        
        <h1>Danh sách đơn hàng nhập</h1>
        <table id="table_data_oder" width="100%" border="3" cellspacing="2px" align="center" bordercolor = "aquamarine">
            <thead>
                <tr style="height: 60px;">
                    <th width="2%">ID</th>
                    <th width="18%">Nhà cung cấp</th>
                    <th width="12%">Nhân viên</th>
                    <th width="8%">Tổng tiền</th>
                    <th width="20%">Sản phẩm</th>
                    <th width="8%">Số lượng</th>
                    <th width="8%">Giá gốc</th>
                    <th width="8%">Phần trăm</th>
                    <th width="8%">Ngày tạo</th>
                    <th width="8%">Tính năng</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="receipt : ${listReceipt}">
                <tr>
                    <td th:text="${receipt.id_receipt}"></td>
                    <td th:each="sup : ${listSupplier}" th:if="${sup.id_supplier == receipt.supplier_id}" th:text="${sup.name}"></td>
                    <td th:each="nhanvien : ${listUser}" th:if="${nhanvien.id_user == receipt.user_id}" th:text="${nhanvien.name}"></td>
                    <td th:utext="'<script>document.write(new Intl.NumberFormat(\'vi-VN\').format(' + ${receipt.total} + '))</script>'"></td>
                    <th:block th:each="receipt_detail : ${listReceiptDetail}" th:if="${receipt.id_receipt == receipt_detail.receipt_id}">
						<td th:each="product : ${listProduct}" th:if="${product.idProduct == receipt_detail.product_id}" th:text="${product.name}"></td>
						<td th:text="${receipt_detail.quantity}"></td>
						<td th:utext="'<script>document.write(new Intl.NumberFormat(\'vi-VN\').format(' + ${receipt_detail.price} + '))</script>'"></td>
						<td th:text="${receipt_detail.percent}"></td>
                    </th:block>
					<td th:text="${receipt.create_date}"></td>
                    <td align="center"><a th:href="@{'/admin/qlnhaphang/delete/' + ${receipt.id_receipt}}"><button data-id="" href="" class="tinhnang1" type="button" title="Xóa" id=""><i class="icon1 ti-trash"></i></button></a> 
                    	<a th:href="@{'/admin/qlnhaphang/edit/' + ${receipt.id_receipt}}"><button class="tinhnang2" type="button" title="Sửa" id=""><i class="icon1 ti-marker-alt"></i></button></a></td>
                    	
                </tr>
				</th:block>  
            </tbody>
            <script type="text/JavaScript" th:src="@{/js/changeDH.js}"></script>
        </table>

    </div>


    <div class="footer">
        <a th:href="@{/admin/qlnhacungcap}" class="add" type="button" title="Nhà cung cấp" id="">Quản lý nhà cung cấp <i class="icon1 ti-hand-point-right"></i></a>
    </div>

</div>
</body>
