<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
	<link rel="stylesheet" th:href="@{/css/StyleGiaodien.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/StyleQuanly.css}">
    <link rel="stylesheet" th:href="@{/css/Sua.css}">
    <link rel="stylesheet" th:href="@{/css/Donhang.css}">
    <link rel="stylesheet" th:href="@{/css/load.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.core.min.js}"></script>
    <script language="JavaScript" th:src="@{/js/clock.js}"></script>
</head>
<body onload="time()">
	
	<div th:replace="(~{Admin/FormManager/MainPage :: menu})"></div>
	
	<div id="qldh" class="content">

    <div class="content-header">

        <div id="clock"></div>
        
    </div>
 
    <div class="content-mid">
        
        <a th:href="@{/admin/qlnhacungcap/addnhacungcap}" class="add" type="button" title="Thêm" id=""><i class="icon1 ti-plus"></i>Nhà cung cấp</a>
     
        <label class="form-timkiem" for="">Tìm kiếm: 
            <input type="search" id="search_ncc" class="search"><button class="ti-search" type="button" title="Tìm kiếm" id="" ></button>
        </label>

    </div>

    <div class="form-dsnguoidung">
        
        <h1>Danh sách nhà cung cấp</h1>

        

        <table id="table_data_ncc" width="100%" border="3" cellspacing="2px" align="center" bordercolor = "aquamarine">
            <thead >
                <tr style="height: 60px;">
                    <th width="5%">ID</th>
                    <th width="20%">Tên nhà cung cấp</th>
                    <th width="30%">Địa chỉ</th>
                    <th width="20%">Email</th>
                    <th width="15%">Số điện thoại</th>
                    <th width="10%">Tính năng</th>
                </tr>
            </thead>
            <tbody>
				<th:block th:each="supplier : ${listSupplier}">
                <tr>
            
                    <tr>
    
                        <td align="center" th:text="${supplier.id_supplier}"></td>
                        <td align="center" th:text="${supplier.name}"></td>
                        <td align="center" th:text="${supplier.address}"></td>
                        <td align="center" th:text="${supplier.email}"></td>
                        <td align="center" th:text="${supplier.phone_number}"></td>
                        <td align="center"><a th:href="@{'/admin/qlnhacungcap/delete/' + ${supplier.id_supplier}}"><button data-id="" href="" class="tinhnang1" type="button" title="Xóa" id=""><i class="icon1 ti-trash"></i></button></a> 
                        <a th:href="@{'/admin/qlnhacungcap/edit/' + ${supplier.id_supplier}}"><button href="" class="tinhnang2" type="button" title="Sửa" id=""><i class="icon1 ti-marker-alt"></i></button></a></td>
                    </tr>

                </tr>
				</th:block>
                
               
            </tbody>
            <script type="text/JavaScript" th:src="@{/js/changeNCC.js}"></script>
        </table>

    </div>


    <div class="footer"><a th:href="@{/admin/qlnhaphang}" class="add" type="button" title="Quản lý đơn hàng" id=""><i class="icon1 ti-hand-point-left"></i>Quản lý nhập hàng</a>
    </div>


</div>
</body>