<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
	<link rel="stylesheet" th:href="@{/css/StyleGiaodien.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/StyleQuanly.css}">
    <link rel="stylesheet" th:href="@{/css/Sua.css}">
    <link rel="stylesheet" th:href="@{/css/Donhang.css}">
    <link rel="stylesheet" th:href="@{/css/load.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.core.min.js}"></script>
    <script language="JavaScript" th:src="@{/js/clock.js}"></script>
</head>
<body onload="time()">
	
	<div th:replace="(~{Admin/FormManager/MainPage :: menu})"></div>
	<div class="content">
	
	    <div class="content-header">
	
	        <div id="clock"></div>
	        
	    </div>
	    
	    <div class="content-mid">
	        
	        <a th:href="@{/admin/qlquyen/addquyen}" class="add" type="button" title="Thêm" id=""><i class="icon1 "></i>Thêm quyền</a>
	        <a href="" class="add" type="button" title="Thêm" id=""><i class="icon1 "></i>Gán quyền</a>
	
	    </div>
	
	    <div class="form-dsnguoidung">
	        
	        <h1>Quản lý quyền</h1>
	
	        <table id="table_data_q"  width="100%" border="3" cellspacing="2px" align="center" bordercolor = "aquamarine">
	            <thead>
					
		                <tr style="height: 60px;">
		                    <th width="20%">ID</th>
		                    <th width="60%">Tên quyền</th>
		                    <th width="20%">Tính năng</th>
		                </tr>
	                
	            </thead>
	            <tbody>
	          		<th:block th:each="role : ${listRole}">
	                    <tr>
	                        <td align="center" th:text="${role.id_role}"></td>
	                        <td align="center"  th:text="${role.name}"></td>
	                        <td align="center"><a th:href="@{'/admin/qlquyen/delete/' + ${role.id_role}}"><button class="tinhnang1" type="button" title="Xóa" id=""><i class="icon1 ti-trash"></i></button></a>  
	                        	<a th:href="@{'/admin/qlquyen/edit/' + ${role.id_role}}" id="editQuyen"><button data-id="${role.id_role}" class="tinhnang2" type="button" title="Sửa" id="name" name="name"><i class="icon1 ti-marker-alt"></i></button></a></td>
	                        	
	                    </tr>
	                  
					</th:block>
	            </tbody>
	            <script type="text/JavaScript" th:src="@{/js/changeRole.js}"></script>
	        </table>
	
	    </div>
	
	
	    <div class="footer">
	        <a th:href="@{/admin/qltaikhoan}" class="add" type="button" title="Quản lý tài khoản" id=""><i class="icon1 ti-hand-point-left"></i>Quản lý tài khoản</a>
	    </div>
	
	</div>
	
</body>
