
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
	<link rel="stylesheet" th:href="@{/css/StyleGiaodien.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/StyleQuanly.css}">
    <link rel="stylesheet" th:href="@{/css/Sua.css}">
    <link rel="stylesheet" th:href="@{/css/Donhang.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.core.min.js}"></script>
    <script language="JavaScript" th:src="@{/js/clock.js}"></script>
</head>
<body onload="time()">
	
	<div th:replace="(~{Admin/FormManager/MainPage :: menu})"></div>
	
	<div id="qlvc" class="content">

	    <div class="content-header">
	
	        <div id="clock"></div>
	        
	    </div>
	    
	    <div class="content-mid">
	        
	        <a th:href="@{/admin/qlvoucher/addvoucher}" class="add" type="button" title="Thêm" id=""><i class="icon1 ti-plus"></i>Voucher</a>
	        
	        <label class="form-timkiem" for="">Tìm kiếm: 
	            <input type="search" id="search_voucher" class="search"><button class="ti-search" type="button" title="Tìm kiếm" id="" ></button>
	        </label>
	
	    </div>
	
	    <div class="form-dsnguoidung">
	        
	        <h1>Danh sách voucher</h1>
	

	
	        <table id="table_data_vc"  width="100%" border="3" cellspacing="2px" align="center" bordercolor = "aquamarine">
	            <thead >
	                <tr style="height: 60px;">
	                    <th width="5%">ID</th>
	                    <th width="20%">Mã giảm giá</th>
	                    <th width="10%">Giá trị</th>
	                    <th width="25%">Ngày bắt đầu</th>
	                    <th width="25%">Ngày kết thúc</th>
	                    <th width="15%">Tính năng</th>
	                </tr>
	            </thead>
	            <tbody>
	            <tr>
	               
	                    <tr>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td></td>
	                        <td align="center"><button data-id="" href="" class="tinhnang1" type="button" title="Xóa" id=""><i class="icon1 ti-trash"></i></button>  <button href="" class="tinhnang2 js-change-voucher" type="button" title="Sửa" id=""><i class="icon1 ti-marker-alt"></i></button></td>
	                    </tr>
	
	            </tr>
	                
	                
	               
	            </tbody>
	            <script type="text/JavaScript" th:src="@{/js/changeVC.js}"></script>
	        </table>
	
	    </div>
	
	
	    <div class="footer">
	        <a th:href="@{/admin/qlhoadon}" class="add" type="button" title="Quản lý hóa đơn" id=""><i class="icon1 ti-hand-point-left"></i>Quản lý hóa đơn</a>
	    </div>

	</div>
</body>
