<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
	<link rel="stylesheet" th:href="@{/css/StyleGiaodien.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/StyleQuanly.css}">
    <link rel="stylesheet" th:href="@{/css/Sua.css}">
    <link rel="stylesheet" th:href="@{/css/Donhang.css}">
		<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
	<div class="sidebar" th:fragment="menu">
        
        <div class="header">
	        <p class="chaomung">Welcome to the admin page. Good luck to you ^^ ( <span th:if="${#authorization.expression('isAuthenticated()')}" th:text="${#authentication.principal.authorities[0].authority}"></span> )</p>
	        <a th:href="@{/home}" class="a" id="back-button" type="button"><i class="logout1 ti-shift-right"></i></a>
	    </div>
	
	    <div class="sidebar-user">
	        <img class="anh-user" th:src="@{/css/Image/user1.png}" alt="" width="140px">
	        <p id="username" class="user"><span th:if="${#authorization.expression('isAuthenticated()')}" th:text="${#authentication.principal.username}"></span></p>
	        
	        <hr>
	    </div>
        
        <div class="sidebar-menu">
            <ul class="menu">
                <a class="a" th:href="@{/admin/qlthongtin}"><li><i class="icon ti-id-badge"></i>Quản lý thông tin</li></a>
                <a th:if="${#authorization.expression('isAuthenticated()')}" sec:authorize="!hasAuthority('Nhân viên bán hàng')" class="a" th:href="@{/admin/qltaikhoan}"><li><i class="icon ti-user" style="color: black;"></i>Quản lý tài khoản</li></a>
                <a class="a" th:href="@{/admin/qlsanpham}"><li><i class="icon ti-apple"></i>Quản lý sản phẩm</li></a>
                <a class="a" th:href="@{/admin/qlhoadon}"><li><i class="icon ti-receipt"></i>Quản lý hóa đơn</li></a>
                <a class="a" th:href="@{/admin/qlnhaphang}"><li><i class="icon ti-truck"></i>Quản lý nhập hàng</li></a>
                <a class="a" th:href="@{/admin/qlbaocao}"><li><i class="icon ti-bar-chart"></i>Báo cáo doanh thu</li></a>
        <div class="header flex">
	        <p class="chaomung flex-1">Welcome to the admin page. Good luck to you ^^</p>
	        <a href="/home	" class="" id="back-button" type="button"><i class="logout1 ti-shift-right"></i></a>
	    </div>
	    <div class="sidebar-user flex flex-col items-center">
	        <img class="" th:src="@{/css/Image/user1.png}" alt="" width="140px">
	        <p id="username" class="user">Phát</p>
	        <hr>
	    </div>
        <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
            <ul class="pace-y-2 font-medium">
							<li>
								<a th:href="@{/admin/qlthongtin}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
									<i class="icon ti-id-badge"></i>
									<span class="ml-3">Quản lý thông tin</span>
								</a>
							</li>
							<li>
								<a th:href="@{/admin/qltaikhoan}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
									<i class="icon ti-user"></i>
									<span class="ml-3">Quản lý tài khoản</span>
								</a>
							</li>
							<li>
								<a th:href="@{/admin/qlsanpham}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
									<i class="icon ti-apple"></i>
									<span class="ml-3">Quản lý sản phẩm</span>
								</a>
							</li>
							<li>
								<a th:href="@{/admin/qlhoadon}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
									<i class="icon ti-receipt"></i>
									<span class="ml-3">Quản lý hóa đơn</span>
								</a>
							</li>
							<li>
								<a th:href="@{/admin/qlnhaphang}" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
									<i class="icon ti-truck"></i>
									<span class="ml-3">Quản lý nhập hàng</span>
								</a>
							</li>
							<li>
								<button type="button" class="flex items-center w-full p-2 text-base text-gray-900 transition duration-75 rounded-lg group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
									<svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
										<path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
									</svg>
									<span class="flex-1 ml-3 text-left whitespace-nowrap">E-commerce</span>
									<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
										<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
									</svg>
								</button>
								<ul id="dropdown-example" class="hidden py-2 space-y-2">
									<li>
										<a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Products</a>
									</li>
									<li>
										<a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Billing</a>
									</li>
									<li>
										<a href="#" class="flex items-center w-full p-2 text-gray-900 transition duration-75 rounded-lg pl-11 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">Invoice</a>
									</li>
								</ul>
							</li>
            </ul>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
        </div>
		<script>
		    const menuLinks = document.querySelectorAll('.menu a');
		
		    // Lấy thông tin về thẻ đang được chọn từ localStorage
		    const selectedLink = localStorage.getItem('selectedLink');
		
		    menuLinks.forEach(link => {
		        link.addEventListener('click', event => {
		            // Xóa lớp 'active' khỏi tất cả các thẻ 
		            menuLinks.forEach(link => {
		                link.classList.remove('active');
		            });
		
		            // Thêm lớp 'active' vào thẻ được nhấp vào
		            link.classList.add('active');
		
		            // Lưu thông tin về thẻ đang được chọn vào localStorage
		            localStorage.setItem('selectedLink', link.href);
		        });
		
		        // Kiểm tra nếu đây là thẻ đang được chọn
		        if (selectedLink === link.href) {
		            // Thêm lớp 'active' vào thẻ đang được chọn
		            link.classList.add('active');
		        }
		    });
		</script>

   		<div th:replace="(~{Admin/FormEdit/E_Thongtin :: editthongtin})"></div>
   		<div th:replace="(~{Admin/FormEdit/E_Taikhoan :: edittaikhoan})"></div>
   		<div th:replace="(~{Admin/FormEdit/E_Sanpham :: editsanpham})"></div>
   		<div th:replace="(~{Admin/FormEdit/E_Nhacungcap :: editnhacungcap})"></div>
   		<div th:replace="(~{Admin/FormEdit/E_Voucher :: editvoucher})"></div>
   		<div th:replace="(~{Admin/FormEdit/E_Quyen :: editquyen})"></div>
   		<div th:replace="(~{Admin/FormEdit/E_Nhaphang :: editnhaphang})"></div>
	</div>


</body>
</html>

