
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Admin</title>
		<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" th:href="@{/css/StyleGiaodien.css}">
    <link rel="stylesheet" th:href="@{/css/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/css/StyleQuanly.css}">
    <link rel="stylesheet" th:href="@{/css/Sua.css}">
    <link rel="stylesheet" th:href="@{/css/Donhang.css}">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.core.min.js}"></script>
    <script language="JavaScript" th:src="@{/js/clock.js}"></script>
	
	<!--thực hiện thống kê-->
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js}"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/xlsx@0.17.1/dist/xlsx.full.min.js}"></script>
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.core.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	 <style>
        #thongkeOption {
            border: 1px solid #4CAF50; /* Màu xanh */
            padding: 2px; /* Thêm padding để làm đẹp */
            border-radius: 4px; /* Bo tròn các góc */
        }
    </style>
</head>
<body onload="time()">
	
	<div th:replace="(~{Admin/FormManager/MainPage :: menu})"></div>
	
	<div id="" class="content">

    <div class="content-header">

        <div id="clock">
        </div>

    </div>
<div class="content-mid" style="margin-left: 30px;">
    <form action="/admin/qlthongkesp/qlthongkesptungmuc" method="POST" id="thongkeForm">
        <label for="thongkeOption"><b>Chọn số sản phẩm:</b></label>
        <select id="thongkeOption" name="thongkeOption">
            <option value="1">Top 5 khách hàng mua nhiều nhất</option>
            <option value="2">Top 10 sản phẩm bán chạy nhất</option>
            <option value="3">Top 5 nhân viên bán hàng xuất sắc nhất </option>
        </select>
        <button type="submit" id="thongkeButton" style="background-color: yellowgreen;"><b>Lọc</b></button>
    </form>
    
    
       <div id="thongkeResult"></div>
    
     
     <!-- This is where the results will be displayed -->
</div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
        // Gắn sự kiện submit form
        $("form").submit(function(event) {
            event.preventDefault(); // Ngăn chuyển hướng mặc định của form

            var thongkeOption = $("#thongkeOption").val();
				alert(thongkeOption);
            $.ajax({
                type: "POST",
                url: "/admin/qlthongkesp/qlthongkesptungmuc",
                data: {
                    thongkeOption: thongkeOption
                },
                success: function(response) {
                    // Hiển thị kết quả trong phần tử div có id là "thongkeResult"
                    $("#thongkeResult").html(response);
                },
                error: function(xhr, status, error) {
                    console.error("Lỗi Ajax: " + error);
                }
            });
        });
    });
</script>

</body>
<!--
câu lệnh truy vấn top 6
SELECT P.id_product, P.name, COUNT(BD.id_product) AS total_sold
FROM product AS P
JOIN bill_detail AS BD ON P.id_product = BD.id_product
GROUP BY P.id_product, P.name
ORDER BY total_sold DESC
LIMIT 6;-->
